<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./lib/vue.js"></script>
</head>

<body>
    <div id="app">
        <!--1 我们要监听到文本框数据的改变， 这样才知道什么时候去拼接出一个fullName-->
        <!--2 如何监听到文本框数据的改变 keyup事件-->
        <!---->
        <input type="text" v-model="firstName" > +
        <input type="text" v-model="lastName"  > =
        <input type="text" v-model="fullName">
        <p>{{fullName}}</p>
    </div>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                firstName: '',
                lastName: '',
            }, 
            methods: {
                getFullName() {
                    this.fullName = this.firstName + ' ' + this.lastName
                },
                getLastName() {
                    this.fullName = this.firstName + ' ' + this.lastName
                }
            },
            computed: {
                /*
                在computed中可以定义一些属性，这些属性叫做计算属性， 本质就是一个方法。
                只不过我们在使用这些计算属性的时候，只不过我们在使用这些计算属性的时候，
                是把他们的名称直接当作属性来用的；并不会把计算属性当作方法去调用 
                */

                //注意1：计算属性，在引用的时候，一定不加()去调用，直接把它当作普通属性去使用就好了
                //注意2：只要计算属性这个function内部所用到的任何data中的数据发生了变化，就会立即重新计算这个属性的值
                //注意3：计算属性的求值结果，会被缓存起来，方便下次直接使用，如果计算属性方法中，所依赖任何数据都没有发生改变，则不会重新对计算属性求值
                'fullName': function(){
                    console.log('fullName被计算一次')
                    return this.firstName + '-' + this.lastName
                }
            },
        })
    </script>
</body>

</html>